*{
    color:white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #313260;
    background-size: fill;
    margin: 0;
    padding: 0;
    width: 100lvw;
    text-align: center;
    padding-top: 0vh;
    
}
.turn{
    font-size: 30px;
    color: #f4c9c9;
}
.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.heading{
    font-size: 60px;
    font-family: tahoma ;
    color: aqua;
}
.abc{
    font-size: 40px;
    font-weight:normal;
    color: white;
}

.txt{
    font-size: 40px;
    font-weight: bold;
    color: yellow;
}

.turn-container .turn-box{
    border: 2px solid #01d3fd;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even){
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: red;
    z-index: -1;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid #f3efef;
}

.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid #f6f1f1;
}

.box:hover{
    background-color: #00d498;
}

#play-again{
    background-color: #cd0000;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}

#play-again hov{
    padding: 10px 40px;
    background-color: #cd0000;
    color:#f7f6f6;
}
